<h1>Hacker Stories</h1>

<div id="content">
  <%= render(partial: 'story', collection: @stories) %>
</div>

<% unless @stories.current_page == @stories.total_pages %>
  <p id="view-more">
    <%= link_to('View More', url_for(page: @stories.current_page + 1), remote: true) %>
  </p>
<% end %>
